:root {
}

.button {
    align-content: flex-end;
    align-self: auto;
    justify-content: flex-start;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-left: 20px;
}
