:root {
}











.Header {
    color: rgb(255, 255, 255);
    font-size: 36px;
    -unity-font-style: bold;
    -unity-text-align: upper-center;
}

.Button {
    width: 200px;
    height: 80px;
    align-self: center;
    margin-top: 20px;
}
